body
{
    background: rgb(0, 0, 0) ;
    margin: 0;
    padding: 0;

}

#title
{
    position: relative; left: 90px; top: 10px;
}

.button
{
    margin-left: 100px;
    margin-top: 50px;
    background: rgba(17, 199, 255, 0.233);
    opacity: 0.6;
    top: 50px;
    left: 50px;
    font-weight:bold;
    font-family:Verdana;
    font-weight:bold;
    text-decoration:none;
    border:5px solid #13e6f5;
    border-radius: 3px 100px 100px 3px;
}

.button1
{
    color:#000000;
    font-size:15px;
}

.button2{
    margin-left: 100px;
    margin-right: 30px;
    display:inline-block;
    border:5px solid #13e6f5;
    background: rgba(5, 131, 148, 0.377);
    border-radius: 40px 40px 40px 40px;
    cursor:pointer;
    text-align: center;
    margin-top: 10px;
   
    color:#13e6f5;
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    padding:30px 35px;
    height: 10px; 
    width: 45px;
}

.boxButton2
{
   width: 600px; 
   position: relative; left: 550px; bottom: 495px; 
}

.box
{
width: 600px;
height: 100%;
}

#aClap1 
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}

.aClap-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1);
}

#sBoom1
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}


.sBoom-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1),
             0 0 60px rgb(255, 255, 255,1);
}



#dKick1 
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}

.dKick-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1),
             0 0 60px rgb(255, 255, 255,1);
}



#pHihat1
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}

.pHihat-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1),
             0 0 60px rgb(255, 255, 255,1);
}


#iOpenhat1 
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}

.iOpenhat-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1);
             
}



#oRide1
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514); 
}

.oRide-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1),
             0 0 60px rgb(255, 255, 255,1);
}

#jSnare1 
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}

.jSnare-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1);
            
}

#lTink1 
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}

.lTink-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1),
             0 0 60px rgb(255, 255, 255,1);
}

#kTom1
{
    width:  100px;
    height: 100px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.514);
}


.kTom-active 
{
background:#fff;
box-shadow:  0 0 10px rgb(14, 240, 248,1),
             0 0 20px rgb(1, 247, 255,1),
             0 0 30px rgb(1, 247, 255,1),
             0 0 40px rgb(1, 247, 255,1),
             0 0 50px rgb(255, 255, 255,1),
             0 0 60px rgb(255, 255, 255,1);
}


.button2
{
    margin-left: 120px;
    margin-right: 30px;
    display:inline-block;
    border:5px solid #13e6f5;
    border-radius: 30px 30px 30px 30px;
    cursor:pointer;
    text-align: center;
    margin-top: 10px;
   
    color:#13e6f5;
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    padding:29px 33px;
    text-decoration:none;
    height: 10px; 
    width: 45px;

}