
body 
{
   
   background-image: url(bc.jpg) ;
 
}

#boxcanvas
{
    margin-left: 10%;
}

#canvas {
    background: rgba(211, 211, 211, 0);
    

}

.brush {
    position: absolute;
    width: 10px;
    height: 10px;
    animation-name: dissapear;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    /* animation-fill-mode: forwards; */
    background: pink;
}


@keyframes dissapear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#menu{
    margin-left: 10px;
}

/* buttons */  

#btnDarken, #btnLight, #btnContrast, #btnLoad, #btnClear, #colorSelect, #lineSelect, #brushSelect 
{
    display:inline-block;
    border:3px solid #070206;
    border-radius: 5px 5px 5px 5px;
    cursor:pointer;
    text-align: center;
    margin-top: 10px;
    background: black;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    height: auto px; 
    width: auto px;
}


