    body
    {
        background: greenyellow;
        display: flex;
    }

    
        
    
    .NoteBox
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: auto;
        align-content: start; 
        padding: 20px;
        background: lightblue;
        min-height: 250px;
        min-width: 350px;        
        left: 50px;
        top: 50px;
        border: 2px solid rgb(204, 255, 0);
     
      
    }

  .Note input
  {
    display: block;
  }
   
  .menuNotes input
  {
    display: block;
    min-width: 95px;   
    
  }




    .textarea.textarea
    {
        
        top: 60px;
        padding: 10px 10px;
        box-sizing: border-box;
        max-width: 205px;
        min-width: 205px;
        min-height: 125px;
        max-height: 125px; 
        background: rgb(255, 255, 255);
        border: none;

        
    }

.NoteBox:hover
{
    z-index: 1;
}

input#dodaj
{
    
    top:10px;
    left: 5px;
   
}

input#Przypnij
{
    
}

#usun
{
    
}

    /* 
    .NoteBox .NoteBar :hover
    {
        cursor: move; 
    }
    */