.area {
    position: relative;
    width : 400px;
    height: 200px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-image: url("connectwork.png");
 
}
.area2 {
    position: relative;
    width : 400px;
    height: 200px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-image: url("water.png");
    z-index: -1;
}
.area3 {
    position: relative;
    width : 400px;
    height: 200px;
    border: 5px solid rgba(0, 0, 0, 0);  
    background-image: url("connectwork.png");
    z-index: -2;
    
}

.ball {
    position: absolute;
    top   : 50px;
    left  : 50px;
    width : 20px;
    height: 20px;
    background: rgb(32, 182, 52);
    border-radius: 100%;
}


.tp{
    position: absolute;
    width : 40px;
    height: 40px;
    background: rgba(0, 255, 255, 0.37);
    border-radius: 100%;
}

#tpInTrigger{
    position: absolute;    
    top: 165px;
    left: 355px;
    width: 10px;
    height: 10px;
}

#tpIn{
    top: 150px;
    left: 340px;
}

#tpOut{
    top: 25px;
    left: 35px;
}

#water{
    position: absolute;    
    top: 0px;
    left: 0px;
    width: 400px;
    height: 200px;
}

#finish{
    position: absolute;
    top   : 150px;
    left  : 340px;
    width : 50px;
    height: 50px;
    background: rgba(255, 2, 36, 0.808);
    border-radius: 100%;
}

#finishTrigger{
    position: absolute;
    top   : 170px;
    left  : 360px;
    width : 10px;
    height: 10px;
    border-radius: 100%;
}

#restart{
    float: left;
    width: 120px;
    height: 40px;
    margin: 20px;
    font-size: 15px;
  
}

#timer{
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    font-size: 20px;
}

#best {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
}